[submodule "meetup-Berlin-R-Users--team--middle-of-the-road"]
	path = meetup-Berlin-R-Users--team--middle-of-the-road
	url = /home/knb/code/svn/eclipse38_dynlang/R_one-offs/meetup-Berlin-R-Users--team--middle-of-the-road
